*verbose*.txt
*.tar.gz
*.Rproj.user*
*.Rhistory
*.Ruserdata
*.out
.Rproj.user
*.Rout
.Rout
*.ROut
.ROut
*/.DS_Store
.DS_Store
main/beta_vec
results/
figures/*.RData
results/*.RData
results/old/*.RData
simulation/*.RData
experiment/*.RData
data/*.RData
markdown/Zeisel_*_cache
markdown/Zeisel_*_files
*cache*
cache
_files
*_files*
*.o
*.dll
*.so
*.dylib
